.wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: scroll;
}

.paper-bg {
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
}

.paint-bg-1 {
  position: absolute; 
  width: 70vw;
  height: 90vh;
  opacity: 0.57; 
  transform: rotate(-5deg); 
  margin-left: 5vw;
  margin-top: -2vh;
  filter: grayscale(0.5);
}

.paint-bg-2 {
  position: absolute; 
  width: 70vw;
  height: 85vh;
  opacity: 0.37;
  transform: rotate(8deg);
  margin-left: 10vw;
  margin-top: 2vh;
  filter: grayscale(0.2);
}

.content-wrapper {
  padding-top: 5vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: scroll;
}

.header-top {
  display: flex;
  width: 95vw; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-top img {
  -webkit-user-drag: none;
}

.header-img {
  width: 25%;
}

.header-line {
  width: 55%;
  background: rgba(0, 0, 0, 1);
  height: 1.5px; 
  margin-left: -7%;
  margin-top: -3%;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 8vw;
  height: 7vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25))
}

.link-container img {
  width: 6vw;
  height: 5vw;
}

.link-container t {
  display: flex;
  width: 6vw;
  justify-content: center;
  padding-top: 6px;
  text-transform: uppercase; 
  font-size: 0.7vw;
  font-weight: bold;
  opacity: 0.8;
  letter-spacing: -0.02vw;
}

.links-container {
  display: flex;
  width: 20vw;
  height: 20vh;
  flex-wrap: wrap;
  padding-left: 3vw;
  margin-top: -7%;
}

.subtext-wrapper {
  display: flex; 
  flex-direction: row;
  width: 60%; 
  justify-content: space-between;
  align-self: flex-start;
  margin-left: 5vw;
}

.subtext-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  width: 20vw;
  height: 6vh;
}

.subtext-accent {
  height: 100%;
  width: 0.5vw;
}

.subtext-text {
  padding-left: 15px;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  line-height: 3vh;
  justify-content: center;
  width: 16vw;
  text-transform: uppercase;
  font-size: 0.7vw;
  font-weight: bold;
  letter-spacing: 0.01vw;
}

.subtext-text b {
  font-family: 'Courier New', Courier, monospace;
  opacity: 0.6;
  font-size: 1.05vw;
  line-height: 2.5vh;
  text-transform: none;
  letter-spacing: -0.03vw;
}

.project-top-border {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 8vw;
}

.project-dotted-line {
  width: 75%;
  height: 32px; 
  border-bottom: 4px dotted rgba(0, 0, 0, 1);;
  margin-left: 4px;
}

.project-content {
  display: flex; 
  flex-direction: row; 
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vh; 
  margin-left: -13vw;
}

.project-content-wrapper {
  display: flex; 
  flex-direction: row; 
  align-items: center;
  width: auto;
}

.project-content img {
  width: 30%;
}

.project-content p {
  width: 50%;
  margin-left: 3vw;
}

.project-content h1 {
  font-size: 1.5vw;
  font-weight: normal;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  opacity: 0.5;
}

.project-content h2 {
  font-weight: bold;
  font-size: 0.8vw;
  margin-left: 5px;
}

.project-content a {
  text-transform: uppercase;
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.project-content a img {
  opacity: 0.9;
  width: 12vw;
  height: 6vh;
}

.project-content a c {
  position: absolute;
  margin-left: -9.5vw;
  margin-top: 2vh;
}

.project-content t {
  line-height: 23px;
}

.project-content-cover {
  border-radius: 15px; 
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.6));
}

.spacer {
  margin-top: 7vh;
}

.folder-link {
  text-decoration: none;
  color: black;
  -webkit-user-drag: none;
}

.about {
  display: flex;
  width: 80vw;
  align-self: flex-start;
  height: 60vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-image-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.about-image-container t {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5vh;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3))
}

.about-image-container t d {
  margin-left: 1vw;
  font-size: 1.3vw;
  font-weight: bold;
  color: white;
}

.about-image-container tc {
  margin-top: -25vh;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.resume-download {
  padding-left: 5vw;
  padding-right: 5vw; 
  margin-top: 5vh;
  background: #00C0C9; 
  border-radius: 10px;
  padding: 1vw;
  color: white;
  text-transform: uppercase;
}

.page-title {
  font-size: 2vw; 
  line-height: 4vw; 
  align-self: flex-start;
  margin-left: 5vw; 
  width: 77vw;
}

.page-title x {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  opacity: 0.4;
  letter-spacing: -0.1vw;
  margin-left: -0.2vw;
}

.page-title y {
  font-family:'Courier New', Courier, monospace;
  letter-spacing: -0.2vw;
  margin-left: -0.3vw;
  font-size: 2.3vw;
  opacity: 0.8;
}

@keyframes cat-animation {
  from {margin-left: 100vw;}
  to {margin-left: 80vw;}
}

.cat-gif {
  position: absolute;
  margin-top: 15vh;
  margin-left: 80vw;
  display: flex;
  flex-direction: column;
  animation-name: cat-animation;
  animation-duration: 6s;
  animation-timing-function: ease-in;
}

.cat-gif-cat {
  height: 27vh;
  width: 15vw;
}

.cat-gif-bubble {
  height: 22vh;
  width: 11.5vw;
  margin-left: 8vw;
}

.cat-gif t {
  font-size: 0.65vw;
  width: 8.7vw;
  margin-top: -44.5vh;
  margin-left: 9.5vw;
  text-align: center;
}

.cat-gif t2 {
  font-size: 0.5vw;
}





