.wrapper {
  padding-top: 5vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.header-top {
  display: flex;
  width: 95vw; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-top img {
  -webkit-user-drag: none;
}

.header-img {
  width: 25%;
}

.header-line {
  width: 55%;
  background: black;
  height: 1.5px; 
  margin-left: -7%;
  margin-top: -3%;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 8vw;
  height: 7vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25))
}

.link-container img {
  width: 6vw;
  height: 5vw;
}

.link-container t {
  display: flex;
  width: 6vw;
  justify-content: center;
  padding-top: 6px;
  text-transform: uppercase; 
  font-size: 0.8vw;
}

.links-container {
  display: flex;
  width: 20vw;
  height: 20vh;
  flex-wrap: wrap;
  padding-left: 3vw;
  margin-top: -7%;
}

.subtext-wrapper {
  display: flex; 
  flex-direction: row;
  width: 60%; 
  justify-content: space-between;
  align-self: flex-start;
  margin-left: 5vw;
}

.subtext-inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  width: 20vw;
  height: 6vh;
}

.subtext-accent {
  height: 100%;
  width: 0.5vw;
}

.subtext-text {
  padding-left: 15px;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  justify-content: center;
  font-style: italic;
  width: 15vw;
}

.subtext-text b {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-top-border {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 8vw;
}

.project-dotted-line {
  width: 75%;
  height: 32px; 
  border-bottom: 4px dotted black;
  margin-left: 4px;
}

.project-content {
  display: flex; 
  flex-direction: row; 
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vh; 
  margin-left: -13vw;
}

.project-content img {
  width: 30%;
}

.project-content p {
  width: 50%;
  margin-left: 3vw;
}

.project-content h1 {
  font-size: 30px;
  font-weight: normal;
}

.project-content h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  margin-left: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-content a {
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4vw;
  letter-spacing: -0.5px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.project-content a img {
  width: 15vw;
  height: 8vh;
}

.project-content a c {
  position: absolute;
  margin-left: -12vw;
  margin-top: 2.5vh;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.project-content t {
  line-height: 23px;
}

.spacer {
  margin-top: 10vh;
}

.folder-link {
  text-decoration: none;
  color: black;
  -webkit-user-drag: none;
}

.about {
  display: flex;
  width: 100vw;
  height: 60vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-image-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: 40vh;
}

.about-image-container t {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5vh;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3))
}

.about-image-container t d {
  margin-left: 1vw;
  font-size: 1.3vw;
  font-weight: bold;
}

.about-image-container tc {
  margin-top: -25vh;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.resume-download {
  padding-left: 5vw;
  padding-right: 5vw; 
  margin-top: 5vh;
  background: #00C0C9; 
  border-radius: 10px;
  padding: 1vw;
  color: white;
  text-transform: uppercase;
}

